* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to right top,
    #000000,
    #1f0e17,
    #33162d,
    #41204a,
    #442f6d,
    #3e3f83,
    #2f5097,
    #0061aa,
    #0071ab,
    #007da3,
    #008896,
    #289089
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
  height: 100vh;
}

.container {
  width: 65%;
  background-color: snow;
  padding: 30px;
  border-radius: 30px;
}
/*according title*/
.head {
  margin-bottom: 30px;
  text-align: center;
}
.container .content-container .question {
  padding: 18px 0px;
  font-size: 22px;
  cursor: pointer;
  border-bottom: 1px solid black;
  position: relative;
}
.container .content-container .question::after {
  content: "+";
  position: absolute;
  right: -5px;
}
.container .content-container .answer {
  padding-top: 15px;
  line-height: 1.5;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: 0.1s;
}

.container .content-container.active .answer {
  height: 150px;
}
.container .content-container.active .question {
  font-size: 18px;
  transition: 0.5s;
}
.container .content-container.active .question::after {
  content: "-";
  font-size: 30px;
  transition: 0.5s;
}
